body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: #ffffff;
}

header {
  display: flex;
  align-items: center;
  padding: 24px 24px 0 24px;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #faf7ff;
  padding: 16px;
  border-radius: 24px;
  flex: 1;
  margin-right: 0;
}

.search-container .search-icon {
  margin-right: 8px;
  font-size: 1.2em;
  color: #aaa;
}

.search-container input[type="text"] {
  border: none;
  background: none;
  outline: none;
  flex: 1;
  font-weight: 400;
  font-size: 16px;
  color: #a6a6a6;
}

header .circular-button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: none;
  background-color: #faf7ff;
  color: #595959;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}

header .circular-button i {
  font-size: 1.2em;
  color: #595959;
}

main {
  padding: 24px;
  margin-top: 0;
  background-color: #ffffff;
}

h2 {
  color: #a70000;
  font-weight: 500;
  font-size: 1.25em;
  margin-bottom: 8px;
}

p.description,
p.watchlist-description {
  color: #595959;
  font-size: 1em;
  margin-bottom: 16px;
}

p.watchlist-history {
  color: #595959;
  font-size: 1em;
  margin-bottom: 24px;
  margin-top: 0;
}

.container {
  margin-bottom: 20px;
}

.genre-container {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.genre {
  font-weight: 500;
  color: #8b8b8b;
}

.count {
  font-weight: 500;
  color: #444444;
}

.explore-container .background-image {
  border-radius: 10px;
  color: #fff;
  position: relative;
}

.explore-container .background-image .bookmark {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 50%;
  color: #212121;
  padding: 10px 12px;
  cursor: pointer;
}

.explore-container .background-image .bookmark.active {
  background: #a70000;
  color: #ffffff;
}

.explore-container .background-image .bookmark i {
  font-size: 16px;
  height: 0;
}

.explore-container .content-group {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  padding: 16px;
  border-radius: 10px;
  left: 0;
  bottom: 7px;
  width: calc(100% - 32px);
  position: absolute;
}

.tags button {
  background: #8b8b8b;
  padding: 4px 8px;
  font-size: 0.75em;
  margin-right: 4px;
  border: none;
  border-radius: 10px;
  color: #fff;
}

h3 {
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 1em;
  font-weight: 500;
}

.buttons {
  display: flex;
  margin-top: 10px;
}

.info-button {
  border: none;
  padding: 12px 0;
  font-size: 1em;
  border-radius: 16px;
  color: #8b8b8b;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.watch-button {
  background: #a70000;
  color: #ffffff;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.watch-button .play-icon {
  font-size: 16px;
  margin-right: 8px;
}

.carousel-container {
  margin-bottom: 40px;
}

.carousel-container .carousel {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.watchlist-carousel,
.new-week-carousel {
  height: 300px;
}

.movie-container,
.recommendation-container,
.new-week-container,
.top-rated-container {
  min-width: 200px;
  margin-right: 24px;
  position: relative;
}

.recommendation-container {
  min-width: 231px;
}

.recommendation-container .background-image {
  height: 100%;
  border-radius: 10px;
  position: relative;
}

.recommendation-container .content-group {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 10px;
  left: 0;
  bottom: 0;
  width: calc(100% - 16px);
  position: absolute;
}

.recommendation-container .content-group .rating {
  margin-top: -5px;
}

.new-week-container {
  min-width: 231px;
}

.new-week-container .background-image {
  height: 100%;
  border-radius: 10px;
  position: relative;
}

.new-week-container .content-group {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 10px;
  left: 0;
  bottom: 0;
  width: calc(100% - 16px);
  position: absolute;
}

.new-week-container .content-group .rating {
  margin-top: -5px;
}

.movie-container img,
.top-rated-container img {
  width: 200px;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}

.recommendation-container img {
  width: 231px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.new-week-container img {
  width: 231px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.explore-section-banner img {
  width: 100%;
  height: 332px;
  border-radius: 10px;
  object-fit: cover;
}

.movie-container .tags {
  margin-top: 7px;
}

.movie-container .rating {
  margin-top: -5px;
}

.top-rated-container .tags {
  margin-top: 7px;
}

.top-rated-container .rating {
  margin-top: -5px;
}

.bookmark {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 50%;
  color: #212121;
  padding: 10px 12px;
  cursor: pointer;
}

.bookmark.active {
  background: #a70000;
  color: #ffffff;
}

.bookmark i {
  font-size: 16px;
  height: 0;
}

.rating {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.rating i {
  color: #ffd700;
  margin-right: 5px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  padding: 24px 0;
}

footer nav {
  display: flex;
  justify-content: space-around;
}

footer button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  color: #a6a6a6;
}

footer button i {
  font-size: 1.5em;
  color: #a6a6a6;
}

footer button span {
  margin-top: 12px;
  color: #a6a6a6;
  font-family: "Poppins", sans-serif;
}

footer button.active,
footer button.active i,
footer button.active span {
  color: #a70000;
}

.watchlist-title {
  color: #a70000;
  font-weight: 500;
  font-size: 1.25em;
  margin-bottom: 8px;
}

.watchlist-description {
  color: #595959;
  font-size: 1em;
  margin-bottom: 16px;
}

.watchlist-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -16px;
}

.watchlist-item {
  min-width: 183px;
  margin-right: 16px;
  margin-bottom: 16px;
  position: relative;
}

.watchlist-background-image {
  height: 100%;
  border-radius: 10px;
  position: relative;
}

.watchlist-background-image img {
  width: 183px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.watchlist-content-group {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 8px 8px 8px;
  border-radius: 10px;
  left: 0;
  bottom: 7px;
  width: calc(100% - 16px);
  position: absolute;
}

.watchlist-content-group .watchlist-tags {
  margin-top: 0;
}

.watchlist-content-group .watchlist-tags button {
  margin-top: 8px;
  background: #8b8b8b;
  padding: 4px 8px;
  font-size: 0.75em;
  margin-right: 4px;
  border: none;
  border-radius: 10px;
  color: #fff;
}

.watchlist-content-group h3 {
  margin: 8px 0;
}

.watchlist-rating {
  display: flex;
  align-items: center;
  margin-top: -5px;
}

.watchlist-rating i {
  color: #ffd700;
  margin-right: 5px;
}

.watchlist-bookmark {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 50%;
  color: #212121;
  padding: 10px 12px;
  cursor: pointer;
}

.watchlist-bookmark.active {
  background: #a70000;
  color: #ffffff;
}

.watchlist-bookmark i {
  font-size: 16px;
  height: 0;
}

.individual-movie-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 100%;
  margin-bottom: 0px;
}

.individual-movie-background img {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.individual-movie-background .back-button {
  position: sticky;
  top: 16px;
  left: 16px;
  background: #faf7ff;
  border: none;
  border-radius: 50%;
  color: #212121;
  padding: 16px;
  cursor: pointer;
  z-index: 1001;
  font-size: 1em;
}

.individual-movie-background .bookmark-button {
  position: absolute;
  width: 46px;
  height: 50px;
  top: 16px;
  right: 16px;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 50%;
  color: #212121;
  cursor: pointer;
  z-index: 1001;
}

.individual-movie-background .bookmark-button i {
  font-size: 1.5em;
}

.individual-movie-background .bookmark-button.active {
  background: #a70000;
  color: #ffffff;
}

.individual-movie-content-group {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  padding: 16px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% - 32px);
}

.individual-movie-tags button {
  background: #8b8b8b;
  padding: 4px 8px;
  font-size: 0.75em;
  margin-right: 4px;
  border: none;
  border-radius: 10px;
  color: #fff;
  margin-top: 8px;
}

.individual-movie-content-group h3 {
  margin: 12px 0 4px 0;
  font-size: 1em;
}

.individual-movie-content-group p {
  font-size: 0.75em;
  font-weight: 400;
  margin-bottom: 0;
}

.details-container {
  margin-top: 320px;
  padding: 0;
}

.details-container h2 {
  margin-bottom: 4px;
}

.detail-item {
  padding: 20px 0 16px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #8b8b8b;
}

.detail-item .detail-label {
  font-weight: 400;
}

.detail-item .detail-value {
  font-weight: 400;
  color: #444444;
}

.impressions-container {
  margin-top: 40px;
}

.impressions-container h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.rating-overview {
  display: flex;
  align-items: center;
  padding: 24px 0 40px 0;
}

.rating-overview .rating-value {
  font-size: 2.5em;
  color: #444444;
  font-weight: bold;
  margin-right: 24px;
}

.rating-overview .rating-stars i {
  font-size: 1.75em;
  margin-right: 24px;
  color: #a70000;
}

.rating-overview .rating-stars {
  display: flex;
  align-items: center;
}

.rating-overview .rating-count {
  font-size: 1em;
  color: #444444;
  margin-top: 8px;
}

.existing-review {
  padding: 16px 0;
  border-bottom: 0;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.user-profile .username {
  margin-left: 8px;
}

.user-username {
  font-weight: 500;
  color: #444444;
}

.existing-reviews .review-container .rating {
  display: block;
  margin-top: 16px;
  color: #444444;
}

.existing-reviews .review-container .rating-stars {
  margin-top: 16px;
}

.existing-reviews .review-container .rating-stars i {
  margin-right: 8px;
  font-size: 1.25em;
  color: #444444;
}

.existing-reviews .review-container .rating label {
  font-size: 1em;
  font-weight: 500;
  color: #444444;
}

.existing-reviews .review-container .review {
  margin-top: 16px;
  font-size: 1em;
}

.existing-reviews .review-container .review label {
  font-weight: 500;
  color: #444444;
}

.existing-reviews .review-container .review p {
  font-size: 1em;
  font-weight: 400;
  color: #444444;
  margin-top: 8px;
  margin-bottom: 0;
}

.watch-now-button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1em;
  padding: 20px 0;
  border-radius: 16px;
  margin-top: 20px;
  background: #a70000;
  color: #ffffff;
  width: 100%;
  border: 0;
  position: sticky;
  bottom: 24px;
}

.watch-now-button i {
  margin-right: 16px;
}

/* media query for desktop */
@media (min-width: 768px) {
  /* Already responsive for mobile and desktop, using mobile-first approach */
}
